/* PESQUISA DE NOMES E (REGIOES) TALVEZ*, PRECISARIA DE UM LABEL OU BOTAO DE PESQUISA EM ALGUMA REGIAO DO MODAL(PERSONAGEM) 
OU UM NOVO MODAL QUE FICARIA ANTES DO PERSONAGENS // DEPOIS QUE CLICA NO EXPLORAR DO HOME*/